# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  lint:
    docker:
      # specify the version
      - image: circleci/golang:1.9
      
    working_directory: /go/src/github.com/tkanos/go-dtree
    steps:
      - checkout

      # specify any bash command here prefixed with `run: `
      - run: go get -u golang.org/x/lint/golint
      - run: go list ./... | grep -v /vendor/ | grep -v /cmd/ | grep -v /handler | xargs -L1 golint -set_exit_status
      - run: go vet `go list ./... | grep -v /vendor/ | grep -v /cmd/`
  test:
    docker:
      # specify the version
      - image: circleci/golang:1.9
      
    working_directory: /go/src/github.com/tkanos/go-dtree
    steps:
      - checkout

      # specify any bash command here prefixed with `run: `
      - run: go get -u github.com/golang/dep/cmd/dep
      - run: go get github.com/mattn/goveralls
      - run: dep ensure
      - run: go test -race -v `go list ./... | grep -v -e /vendor/ -e /mock/`
      - run: go test -v -cover -race -coverprofile=./coverage.out
      - run: goveralls -coverprofile=./coverage.out -service=circle-ci -repotoken=$COVERALLS_REPO_TOKEN

workflows:
  version: 2
  test_and_lint:
    jobs:
      - lint
      - test:
          requires:
            - lint